<h3>
  Repair-Café « {{ evt.rc.nom_court }} »,
  le {{ evt.debut | date:'l j F Y' }}
</h3>
<dl>
  <dt>Adresse</dt>
  <dd><textarea rows="5" cols="35">{{ evt.rc.adresse }}</textarea></dd>
  <dt>Réservations</dt>
  <dd>
    Téléphone : {{ evt.rc.tel_contact }}<br>
    Courriel : {{ evt.rc.mel_contact }}
  </dd>
  <dt>Horaire</dt>
  <dd>{{ evt.debut | date:'H:i' }} à {{ evt.fin | date:'H:i' }}</dd>
</dl>
{% if secretaire %}
<form method="post">
  <input type="hidden" name="event_id" value="{{ evt.id }}" />
  <input type="submit" name="del_event" value="Supprimer ce rendez-vous"/>
  <input type="hidden" name="csrfmiddlewaretoken" id="csrfmiddlewaretoken"/>
</form>
{% endif %}
