{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>..:: Repair-cafés | {{ nom_page }} ::.. </title>
    <link rel="stylesheet" href="/static/myadmin/css/base.css">
    <!--<link rel="stylesheet" href="/static/myadmin/css/dark_mode.css">-->
    <!--<link rel="stylesheet" href="/static/myadmin/css/nav_sidebar.css">-->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/static/myadmin/css/responsive.css">
    
    <link rel="stylesheet" href="{% static 'css/gestion.css' %}"/>
    <script src="{% static 'js/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-tablesorter/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'js/jquery-tablesorter/js/jquery.tablesorter.widgets.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'js/moment/moment.js' %}"></script>

    <link rel="stylesheet" href="{% static 'js/jquery-ui/themes/base/all.css' %}"/>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" />
    <script src="{% static 'js/programme.js' %}"></script>
    <script>
      /* recopié depuis https://mottie.github.io/tablesorter/docs/example-widget-ui-theme.html */
      $.extend($.tablesorter.themes.jui, {
	  // change default jQuery uitheme icons - find the full list of icons at
	  // http://jqueryui.com/themeroller/ (hover over them for their name)
	  table        : 'ui-widget ui-widget-content ui-corner-all', // table classes
	  caption      : 'ui-widget-content',
	  // header class names
	  header       : 'ui-widget-header ui-corner-all ui-state-default', // header classes
	  sortNone     : '',
	  sortAsc      : '',
	  sortDesc     : '',
	  active       : 'ui-state-active', // applied when column is sorted
	  hover        : 'ui-state-hover',  // hover class
	  // icon class names
	  icons        : 'ui-icon', // icon class added to the <i> in the header
	  iconSortNone : 'ui-icon-carat-2-n-s ui-icon-caret-2-n-s', // class name added to icon when column is not sorted
	  iconSortAsc  : 'ui-icon-carat-1-n ui-icon-caret-1-n', // class name added to icon when column has ascending sort
	  iconSortDesc : 'ui-icon-carat-1-s ui-icon-caret-1-s', // class name added to icon when column has descending sort
	  filterRow    : '',
	  footerRow    : '',
	  footerCells  : '',
	  even         : 'ui-widget-content', // even row zebra striping
	  odd          : 'ui-state-default'   // odd row zebra striping
      });
    </script>
  </head>
  
  <body>
    <div class="page">
      {% block aide %}
      {% if aide %}
      <div id ="aide">
	<button onclick="aide('{{ aide }}')">
	  <img src="{% static '/img/aide.svg' %}" alt="aide" title="Aide contextuelle"/>
	</button>
      </div>
      {% endif %}
      {% endblock %}
      
      {% block page_header %}
      <div id="page_header">
	<!-- tête de page -->
	<a href="/">
	  <img src="{% static "/img/logo_repair_cafe_transparent.png" %}"
	       alt="logo des repair cafés"
	       style="height: 50px; float: left;"/>
	</a>
	<a href="/">
	  <img src="{% static "/img/logo_benevoles_rc_transparent.png" %}"
	       alt="logo des bénévoles"
	       style="height: 60px; float: right;"/>

	</a>
	{% if user.is_authenticated %}
	<div style="float: right; color: var(--body-quiet-color)">
	  <img src="{% static '/img/logout.svg' %}" alt="logout", title="Se déconnecter" onclick="logout(location.href)" style="cursor: pointer"/>
	  <div style="display: inline-block">
	    Bienvenue, <br/>
	    <button onclick="location.replace('/donnees_utilisateur/?next='+location.href)"
		    id="donnees_utilisateur"
		    title="modifier les données personnelles et le mot de passe"
		    style="background: lightyellow;">
	      {{ user.username }}
	    </button>
	    <script>
	      $("#donnees_utilisateur").on(
		  "click",
		  function(){
		      location.replace("/donnees_utilisateur?next=" + location.href);
		  });
	    </script>
	  </div>
	  <div class="vars">
	  {% block vars %}
	  {% if is_secretaire %}
	  <div>
	    Statut : secrétaire
	    <br>
	    <button onclick="change_session_lieu()">Lieu</button> :
	    {% if request.session.lieu == "all" %}
	    <span id="default_lieu">Tous les Repair-Cafés</span>
	    {% else %}
	    <span id="default_lieu">{{ request.session.lieu }}</span>
	    {% endif %}
	    <br>
	    <button onclick="change_session_date_travail()">Date</button> :
	    {% if request.session.date_travail2 %}
	    du
	    {% endif %}
	    <span id="default_date">{{ request.session.date_travail1 }}</span>
	    {% if request.session.date_travail2  %}
	    au
	    <span id="default_date2">{{ request.session.date_travail2 }}</span>
	    {% endif %}
	  </div>
	  {% endif %}
	  {% endblock %}
	  </div>
	</div>
	{% endif %}
	<h1>..:: {{ nom_page }} ::..</h1>
	<div style="clear: both"></div>
      </div>
      {% endblock %}

      <div id="contents">
	{% if user.is_authenticated or page_pour_tous %}
	{% block contents %}
	<!-- contenu de la page -->
	{% endblock %}
	{% else %}
	<p id="should_login" class="fond-blanc">
	  Le contenu de cette page n'est accessible qu'aux personnes
	  authentifiées,<br/>
	  <a href="/login/">veuillez vous authentifier</a>.
	</p>
	<script>
	  $("#should_login a").attr(
	      {href: "/login/?next=" + location.href,}
	  );
	  $("#should_login").css({
	      position: "absolute",
	      top: Math.max(0, (($("#contents").height() - $("#should_login").outerHeight()) / 2)) + "px",
	      left: Math.max(0, (($("#contents").width() - $("#should_login").outerWidth()) / 2))  + "px",
	  });
	</script>
	{% endif %}
      </div>
      <div id="page_footer">
	{% block page_footer %}
	<!-- pied de page -->
	{% if not user.is_authenticated %}
	<div style="float:left;">
	  <button onclick="login(location.href)"
		  style="padding: 0 2px; margin-right: 3px;">
	    Se connecter
	  </button>
	</div>
	{% endif %}
	<span class="mini">
	  RC-web {{ version }} est un logiciel libre : 
	</span>
	<a href="https://fr.wikipedia.org/wiki/Licence_publique_g%C3%A9n%C3%A9rale_GNU">
	  <img src="{% static '/img/GPLv3_Logo.svg' %}" alt="gpl-v3+" class="mini" title="GPL-V3+">
	</a>
	<span class="mini">
	  ; il est propulsé par :
	</span>
	<a href="https://fr.wikipedia.org/wiki/Django_(framework)">
	  <img src="{% static '/img/logo-django.svg' %}" alt="django" class="mini" title="Django">
	</a>
	<a href="https://fr.wikipedia.org/wiki/Python_(langage)">
	  <img src="{% static '/img/python-logo-generic.svg' %}" alt="python" class="mini" title="Python">
	</a>
	<a href="https://fr.wikipedia.org/wiki/SQLite">
	  <img src="{% static '/img/sqlite370_banner.gif' %}" alt="SQLite3" class="mini" title="SQLite3">
	</a>
	<a href="https://fr.wikipedia.org/wiki/JQuery">
	  <img src="{% static '/img/logo-jquery.png' %}" alt="jquery" class="mini" title="jQuery">
	</a>
	<a href="https://fr.wikipedia.org/wiki/JQuery_UI">
	  <img src="{% static '/img/logo-jquery-ui.png' %}" alt="jquery-ui" class="mini" title="jQuery-UI">
	</a>
	<a href="https://getpelican.com/">
	  <img src="{% static '/img/logo-pelican.svg' %}" alt="pelican" class="mini" title="Pelican">
	</a>
	{% endblock %}
      </div>
    </div>
  </body>
</html>
