{% extends 'gestion/base_minimale.html' %}
{% load static %}

{% block contents %}
<h1>Ticket ({{ rr.reparable.ticket }})</h1>
Au sujet de la réparation de : « {{ rr.reparable.nom }} » pour
{{ rr.reparable.apporteur }}...
<form method="post" id="form">
  <input type="hidden" name="ticket" value="{{ rr.reparable.ticket }}"/>
  <input type="hidden" name="benevole" value="{{ user }}"/>
  <h3>Mon commentaire</h3>
  <textarea rows="3" cols="25"
	    placeholder="Ces commentaires seront visibles pour les secrétaires et les autres bénévoles ..."
	    name="comment" id="comment"></textarea>
</form>
{% endblock %}
