{% extends 'gestion/base.html' %}
{% load static %}

{% block contents %}
<h2>Liste des catégories</h2>

{% if is_secretaire %}
<!-- possibilité de définir un lieu nouveau -->
<div class="actionbuttons">
  <button onclick="nouvelle_categorie()">
    <img src="{% static '/img/edit-add.svg' %}"
	 alt="ajouter une nouvelle catégorie"
	 title="ajouter une nouvelle catégorie"/>
  </button>
</div>

<table>
  <tr>
    <th>Catégorie</th>
    <th>Exemples</th>
    <th>Logo</th>
  </tr>
  {% for c in categories %}
  <tr>
    <th class="minibutton" style="vertical-align: middle">
      <button data-nom="{{ c.nom }}" onclick="supprime_categorie(this)">
	<img src="{% static '/img/list-remove.svg' %}"
	     alt="Supprimer la catégorie"
	     title="Supprimer la catégorie"/>
      </button>      
      {{ c.nom }}
      <form action="/edite_categorie" method="post" class="minibutton"
	    style="display: inline-block;float: right;">
	<input type="hidden" name="id_categorie" value="{{ c.id }}"/>
	{% csrf_token %}
	<button>
	  <img src="{% static '/img/gtk-edit.svg' %}"
	       alt="Modifier « {{ c.nom }} »"
	       title="Modifier « {{ c.nom }} »"/>
	</button>
      </form>
    </th>
    <td style="vertical-align: middle; max-width: 50%">
      {% if c.exemples %}
      {{ c.exemples }}
      {% endif %}
    </td>
    <td class="minibutton" style="vertical-align: middle">
      {% if c.logourl %}
      <img alt="logo de {{ c.nom }}" title="logo de {{ c.nom }}"
	   src="{{ c.logourl }}" />
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<h2>Il faut avoir statut de secrétaire pour modifier les catégories !</h2>
{% endif %}

{% endblock %}
