<fieldset>
  <legend>Choix du lieu par défaut</legend>
  <label for="lieu">RC :</label>
  <select id="lieu" name="lieu">
    <option value="">-----</option>
    {% for l in lieux %}
    <option value="{{ l.id }}"
	    {% if l.nom_court == lieu %}
	    selected
	    {% endif %}
	    >
      {{ l.nom_court }}
    </option>
    {% endfor %}
    <option value="all">Tous les lieux</option>
  </select>
</fieldset>
