<div class="info">
  Mode d'emploi : 
  {% if lieu == "all" %}
  on cherche à visualiser les données de plusieurs Repair-Cafés : dans ce
  cas, s'il y a juste la première date, un seul repair-café sera ouvert.
  En général, une deuxième date postérieure à la première doit être choisie.
  {% else %}
  seule la première date est obligatoire.
  Elle doit correspondre à un des évènements du Repair-Café
  « {{ lieu }} ». La deuxième date, si elle est identique à la première,
  n'est pas prise en compte ; si elle tombe <i>après</i> la première date,
  elle sert alors à définir un intervalle de dates valide.
  {% endif %}
</div>
<table>
  <tr>
    <td><label for="date1">le -- ou depuis le :</label></td>
    <td><input type="text" id="date1" name="date1" value="{{ date1 }}"/>
  </tr>
  <tr>
    <td><label for="date2">(facultatif) jusqu'au :</label></td>
    <td><input type="text" id="date2" name="date2" value="{{ date2 }}"/>
  </tr>
</table>

<script src="/static/js/jquery-ui/ui/i18n/datepicker-fr.js"></script>
<script>
  
  $("#date1").datepicker({dateFormat: "dd-mm-yy"});
  $("#date2").datepicker({dateFormat: "dd-mm-yy"});
</script>
