{% if deja_choisi %}
<h3>Le ticket {{ orep.ticket }} est déjà associé à un évènement</h3>
Ceci est un bug, vous ne devriez jamais lire ce dialogue.
Merci de signaler le bug si possible.
{% else %}
<h3>
  Repair-Café « {{ evt.rc.nom_court }} »,
  le {{ evt.debut | date:'l j F Y' }}
</h3>
<dl>
  <dt>Adresse</dt>
  <dd><textarea rows="5" cols="35">{{ evt.rc.adresse }}</textarea></dd>
  <dt>Réservations</dt>
  <dd>
    Téléphone : {{ evt.rc.tel_contact }}<br>
    Courriel : {{ evt.rc.mel_contact }}
  </dd>
  <dt>Horaire</dt>
  <dd>{{ evt.debut | date:'H:i' }} à {{ evt.fin | date:'H:i' }}</dd>
  <dt>Objet à réparer</dt>
  <dd>{{ orep.nom }}</dd>
  <dt>Numéro de ticket</dt>
  <dd>{{ orep.ticket }}</dd>
</dl>
<form method="post">
  <input type="hidden" name="event_id" value="{{ evt.id }}" />
  <input type="hidden" name="ticket" value="{{ orep.ticket }}" />
  <input type="hidden" name="csrfmiddlewaretoken" id="csrfmiddlewaretoken"/>
  <input type="submit" name="confirme_choix" value="Je confirme l'inscription à ce Repair-Café">
</form>
{% endif %}
