<!-- formulaire de suppression d'un repair-café -->
<form id="lieuform" method="post">
  <h1>Vous êtes sur le point de supprimer tous les enregitrements en rapport avec « {{ nom }} »</h1>
  Si vous êtes bien sûr de vouloir supprimer tous ces enregistrements,
  recopiez ci-dessous le nom <b>{{ nom }}</b>
  <table>
    {{ form.as_table }}
    <tr>
      <td colspan="2">
	<input type="submit"
	       id="del_lieu"
	       name="del_lieu"
	       value="Supprimer l'enregistrement"/>
      </td>
    </tr>
  </table>
  <input type="hidden" name="csrfmiddlewaretoken" id="csrfmiddlewaretoken"/>
</form>

