{% extends 'gestion/base.html' %}
{% load static %}

{% block contents %}
<h1>Édition de la catégorie {{ nom }}</h1>
<div >
<form id="categorieform" method="post" enctype="multipart/form-data">
  <table style="margin: auto; border: 1px solid navy;">
    {{ form.as_table }}
    <tr>
      <td colspan="2">
	<input type="submit" value="Enregistrer" name="validation"
	       style="float: right"/>
      </td>
    </tr>
  </table>
  {% csrf_token %}
</form>
</div>
{% endblock %}
