{% extends 'gestion/base.html' %}
{% load static %}

{% block contents %}
<h1>Export des données sous forme de tableur</h1>
<ul>
  {% for l in lieux %}
  <li>
    « <b>{{ l.nom_court }}</b> » :
    <a href="/exporte_tableur/{{ l.id }}">télécharger le rapport</a>
    {% for c in l.categories %}
    <img src="/media/{{ c.logo }}" style="width: 32px; margin: 1px;"
	 alt="logo pour {{ c.nom }}" title="{{ c.nom }}"/>
    {% endfor %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
