<!-- formulaire pour des nouvelles dates d'un repair-café -->
<p>
  La première date, si elle est modifiée, pourra déroger aux
  contraintes suivantes :
</p>
<ul>
  <li>jour : {{ lieu.nom_jour }}</li>
  <li>semaine : {{ lieu.num_semaine }} semaine du mois</li>
</ul>
<p>
  Si le « nombre de répétitions » est supérieur à 1, alors, les dates
  suivantes respecteront cette règle.
</p>
<form id="lieuform" method="post">
  <table>
    {{ form.as_table }}
    <tr>
      <td colspan="2">
	<input type="submit"
	       id="submit_horaires"
	       name="submit_horaires"
	       value="Nouveaux horaires pour le Repair-cafe « {{ nom }} »"/>
      </td>
    </tr>
  </table>
  <input type="hidden" name="csrfmiddlewaretoken" id="csrfmiddlewaretoken"/>
</form>

