{% extends 'gestion/base.html' %}
{% load static %}

{% block contents %}
<h1>Page d'accueil</h1>
<dl class="choix">
  {% if is_secretaire %}
  <dt>Administration</dt>
  <dd>
    <ul>
      <li>
	<a href="tous_tickets" class="button">
	  Voir les demandes de réparations
	</a>
      </li>
       <li>
	<a href="tableur" class="button">
	  Tableau des réparations (format LibreOffice Calc)
	</a>
      </li>
     <li>
	<a href="journal" class="button">
	  Journal des transaction
	</a>
      </li>
      <li>
	<a href="zipfichier" class="button">
	  Sauvegarder la base de données
	</a>
      </li>
      <li>
	<a href="admin" class="button">
	  Passer en mode maintenance (mode expert)
	</a>
      </li>
    </ul>
  </dd>
  {% endif %}
  {% if is_benevole %}
  <dt>Réparations à adopter</dt>
  <dd>
    <ul>
      <li>
	<a href="reparations_approuvees" class="button">
	  Voir les réparations approuvées
	</a>
      </li>
    </ul>
  </dd>
  {% endif %}
  <dt>
    {% if is_secretaire %}
    Créer une demande de réparation pour une tierce personne
    {% else %}
    Demander à réparer un objet
    {% endif %}
  </dt>
  <dd>
    <ul>
      <li>
	<a href="rdv" class="button">
	  {% if is_secretaire %}
	  Prise de rendez-vous
	  {% else %}
	  J'ai un objet à réparer ... je prends rendez-vous
	  {% endif %}
	</a>
      </li>
      <li>
	<a href="ticket" class="button">
	  {% if is_secretaire %}
	  Revoir un rendez-vous (si on connaît le n° de ticket)
	  {% else %}
	  Où en est mon rendez-vous ?<br>
	  <i>(j'avais bien noté le « numéro de ticket »)</i>
	  {% endif %}
	</a>.
      </li>
    </ul>  
  </dd>
  
  <dt>
    {% if is_secretaire %}
    Gérer
    {% else %}
    Découvrir
    {% endif %}
    les repair cafés
  </dt>
  <dd>
    <ul>
      <li>
	<a href="lieux" class="button">
	  Adresses et heures d'ouverture des repair-cafés
	</a>
      </li>
      <li>
	<a href="calendrier?debut=0&duree=6" class="button">
	  Calendrier imprimable, pour six mois à venir
	</a>
      </li>
      {% if is_secretaire %}
      <li>
	<a href="categories" class="button">
	  Noms des catégories
	</a>
      </li>
      {% endif %}
   </ul>
  </dd>
</dl>

{% endblock %}
