<!-- formulaire d'édition d'un repair-café -->
<form id="lieuform" method="post">
  <table>
    {{ form.as_table }}
    <tr>
      <td colspan="2">
	<input type="submit"
	       id="submit_lieu"
	       name="submit_lieu"
	       value="Créer le nouveau lieu"/>
      </td>
    </tr>
  </table>
  <input type="hidden" name="csrfmiddlewaretoken" id="csrfmiddlewaretoken"/>
</form>

