{% extends 'gestion/base.html' %}
{% load static %}
{% load tz %}
{% get_current_timezone as tz %}
{% timezone tz %}

{% block contents %}
<h2>Le calendrier imprimable</h2>
<p>
  <a href="calendrier?debut=0&duree=6">Cliquez ici</a> (pour les six mois à venir)
  {% if secretaire %}
  <br>
  <a href="calendrier?debut=-1&duree=6">Cliquez ici</a> (pour les six mois suivants)
  {% endif %}
</p>

{% comment %}
pour les messages brefs
{% endcomment %}
<div id="message" data-kind="{{ level }}">{{ message }}</div> 

<h2>Les repair-cafés : où et quand</h2>
<p>
  <b>N.B. :</b> Le nom du repair-café est sur un fond de couleur,
  identique aux codes couleurs du
  <a href="calendrier?debut=0&duree=6">calendrier imprimable</a>.
</p>

{% if secretaire %}
<!-- possibilité de définir un lieu nouveau -->
<div class="actionbuttons">
  <button onclick="nouveau_lieu()">
    <img src="{% static '/img/edit-add.svg' %}"
	 alt="ajouter un nouveau lieu" title="ajouter un nouveau lieu"/>
  </button>
</div>
{% endif %}

<table>
  <tr>
    <th>Repair-Café</th>
    <th>Ouvert prochainement, les ...</th>
    {% if secretaire %}
    <th>Actions</th>
    {% endif %}
  </tr>
  {% for nom, data in data_lieux.items %}
  <tr>
    <th class="minibutton" style="vertical-align: middle">
      {% if secretaire %}
      <button data-nom="{{ nom }}" onclick="supprime_lieu(this)">
	<img src="{% static '/img/list-remove.svg' %}"
	     alt="Supprimer le lieu {{ nom }}"
	     title="Supprimer le lieu {{ nom }}"/>
      </button>      
      {% endif %}
      <div class="ville">{{ data.lieu.ville }}</div>
      <div class="lieu-nom {% if not data.lieu.fond_clair %}fond_sombre{% endif %}"
	{% if data.lieu.couleur %}style="background: {{ data.lieu.couleur }};"{% endif %}>
	{{ nom }}
      </div>
      <div class="horaires_habituels">
	{% if secretaire %}
	<button data-nom="{{ nom }}" onclick="edite_lieu(this)">
	  <img src="{% static '/img/gtk-edit.svg' %}"
	       alt="Modifier « {{ nom }} »"
	       title="Modifier « {{ nom }} »"/>
	</button>
	{% else %}
	<hr style="width: 80%; margin: 5px;">
	{% endif %}
	Horaires habituels :<br>
	{{ data.lieu.habitude }}
      </div>
      <div class="categories">
	Types de réparations pratiquées :<br>
	{% for c in data.lieu.categories %}
	<img src="/media/{{ c.logo }}" style="margin: 1px; width:32px;"
	     alt="logo pour {{ c.nom }}" title="{{ c.nom }}"
	     onclick="explique_categorie(this)"
	     data-nom="{{ c.nom }}" data-exemples="{{ c.exemples }}"/>
	{% if secretaire %}
	<button style="margin-left: -8px;"
	      onclick="lieu_moins_categorie(this)"
	      data-lieu="{{ data.lieu.id }}"
	      data-categorie="{{ c.id }}">
	  <img src="{% static '/img/list-remove.svg' %}"
	       style="width: 8px; "
	       alt="Supprimer la catégorie {{ c.nom }}"
	       title="Supprimer la catégorie {{ c.nom }}"/>
	</button>
	{% endif %}
	{% endfor %}
	<br>
	{% if secretaire %}
	<select data-lieu="{{ data.lieu.id }}"
		onchange="lieu_plus_categorie(this)">
	  <option value="">-- nouvelle catégorie --</option>
	  {% for c in categories %}
	  <option value="{{ c.id }}">{{ c.nom }}</option>
	  {% endfor %}
	</select>
	{% endif %}
      </div>
    </th>
    <td style="vertical-align: middle">
      {% for h in data.evenements %}
      <button data-id="{{ h.id }}"
	      data-secretaire="{{ secretaire }}"
	      onclick="affiche_evenement(this)"
	      class="mediumbutton"
	      title="{{ h.debut | date:'l j F Y' }}, de {{ h.debut | date:'H:i' }} à {{ h.fin | date:'H:i' }} {% if secretaire %}| Cliquer pour supprimer{% endif %}">
	<img src="{% static '/img/rc.svg' %}"
	     alt="{{ h.debut | date:'l j F Y' }}, de {{ h.debut | date:'H:i' }} à {{ h.fin | date:'H:i' }}"
	     />
	<br>
	{{ h.debut | date:'D d/m' }}
      </button>
      {% endfor %}
    </td>
    {% if secretaire %}
    <td class="minibutton" style="vertical-align: middle">
      <button data-nom="{{ nom }}" data-habitude="{{ data.habitudes.0.tojson }}"
	      onclick="horaires_lieu(this)">
	<img src="{% static '/img/edit-add.svg' %}"
	     alt="créer des horaires" title="créer des horaires"/>
      </button>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% if a_rouvrir %}
<!-- réouverture d'un dialogue quand il y a eu une erreur -->
<script>
  $( document ).ready(function(){
      show_dialog("{{ a_rouvrir}}");
  });
</script>
{% endif %}

{% endblock %}

{% endtimezone %} 
