{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>..:: Repair-cafés | login ::.. </title>
    <link rel="stylesheet" href="/static/admin/css/base.css">
    <link rel="stylesheet" href="/static/admin/css/dark_mode.css">
    <!--<link rel="stylesheet" href="/static/admin/css/nav_sidebar.css">-->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/static/admin/css/responsive.css">
    
    <link rel="stylesheet" href="{% static 'css/gestion.css' %}"/>
    <script src="{% static 'js/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui/jquery-ui.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/jquery-ui/themes/base/all.css' %}"/>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" />
    <script src="{% static 'js/programme.js' %}"></script>
  </head>
  
  <body>
    <div class="page">
      {% block page_header %}
      <div id="page_header">
	<!-- tête de page -->
	<div style="float: right; width: 120px;">
	  <a href="/" target="_new">
	    <img src="{% static "/img/logo_repair_cafe.png" %}" alt="logo des repair cafés" style="width: 100%;"/>
	    <span class="version">Version {{ version }}</span>
	  </a>
	</div>
	<h1>..:: Repair-cafés : login ::..</h1>
	<div style="clear: both"></div>
      </div>
      {% endblock %}
      <h1>Connexion</h1>
      <div id="contents">
	<form method="post">
	  <table>
	    {{ form.as_table }}
	  </table>
	  <input type="hidden" name="next" value="{{ next }}"/>
	  {% csrf_token %}
	  <input type="submit" value="Connection"/>
	</form>
      </div>
    </div>
  </body>
</html>
