{% extends 'gestion/base.html' %}
{% load static %}

{% block contents %}
{% if not is_secretaire %}
<p>Il faut être secrétaire pour modifier un rendez-vous.</p>
{% else %}
<p>
  Après discussion avec {{ form.initial.apporteur }}
  ({{ form.initial.comment_joindre }}),
  voici la liste des données (le bouton de validation est tout en bas) :
</p>
<form method="POST" name="inputForm">
  {% csrf_token %}
  <table>
    <colgroup>
      <col span="1" style="width: 12em;">
      <col span="1">
    </colgroup>
    {{ form.as_table }}
    <tr>
      <td colspan="2" style="text-align: center;">
	<h3>Modifier « Où et quand » (le bouton de validation est tout en bas)</h3>
	<div id="choix_ville">
	  {% for ville, data in evenements.items %}
	  <h3 title="Cliquer pour déplier/replier"
	      style="text-align: left;">{{ ville }}</h3>
	  <div>
	    <p class="nom_rc">{{ data.rc.nom_court }}</p>
	    {% for ev in data.ev %}
	    <button data-ev="{{ ev.id }}" data-ticket="{{ orep.ticket }}"
		    onclick="modifie_evenement(this)"
		    class="mediumbutton"
		    type="button"
		    title="{{ ev.debut | date:'l j F Y' }}, de {{ ev.debut | date:'H:i' }} à {{ ev.fin | date:'H:i' }}">
	      <img src="{% static '/img/rc.svg' %}"
		   alt="{{ ev.debut | date:'l j F Y' }}, de {{ ev.debut | date:'H:i' }} à {{ ev.fin | date:'H:i' }}"
		   />
	      <br>
	      {{ ev.debut | date:'D d/m' }}
	    </button>
	    {% endfor %}
	  </div>
	  {% endfor %}
	</div>
	<script>$("body").ready(function(){
    $("#choix_ville").accordion({
    active: false,
    collapsible: true,
})});</script>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center;">
	<button type="submit">Effectuer la modification</button>
	<br>
	... ou <a href="/tous_tickets">ne rien changer, après tout</a> ...
      </td>
    </tr>
  </table>
</form>
{% endif %}

{% endblock %}
