{% extends 'gestion/base.html' %}
{% load static %}

{% block contents %}
<h1>Demande de réparation</h1>
<div class="Input">
  {% comment %}
  Le formulaire ci-dessous a été largement inspiré par la réponse n°5
  publiée dans https://stackoverflow.com/questions/62049649/capture-web-camera-image-and-upload-database-using-django
  {% endcomment %}
  <form method="POST" name="inputForm" enctype='multipart/form-data'>
    {% csrf_token %}
    <table>
      <colgroup>
	<col span="1" style="width: 12em;">
	<col span="1">
      </colgroup>
      {{ form.as_table }}
    
      <tr id="camera" class="camera" style="display: table-row;">
	<td colspan="2" style="text-align: center;">
	  <video id="video">Video stream not available.</video>
	  <br>
	  <button id="startbutton" type="button" class="button">
	    Prendre une photo de l'objet à réparer
	  </button>
	  <input id="webimg" value="" name="src" type="text"
		 style="display: none;">
	  <canvas id="canvas" style="display: none;">
	  </canvas>
	</td>
      </tr>
      <tr id="captured" style="display: none; text-align: center;">
	<td colspan="2">
	  <img id="photo" alt="your image">
	  <br>
	  <button type="reset" class="button" id="reset-video"
		  onclick="reset_video()"
		  >
	    Changer la photo
	  </button>
	</td>
      </tr>
      <tr>
	<td colspan="2" style="text-align : center;">
	  <input type="submit" id="submit_repare" name="submit_repare"
		 value="Poster la demande de réparation"/>
	</td>
      </tr>
    </table>
  </form>
</div>

<script>capture_photo();</script>

{% endblock %}
