{% extends 'gestion/base.html' %}
{% load static %}

{% block contents %}
<h1>Adopter des demandes de réparation, déjà confirmées</h1>
<fieldset style="margin: 5px;">
  <legend>Filtrer les lieux</legend>
  <input id="filtre" placeholder="Quelques lettres du lieu"
	 onKeyPress = "return checkFilter(event)" />
  <button onclick="filtrer()">Filtrer</button>
  <button onclick="sansfiltre()">Oter le filtre</button>
</fieldset>
<table class="adopter">
  <thead>
    <tr>
      <th>Lieu</th>
      <th>date</th>
      <th data-sorter="false">Photo</th>
      <th data-sorter="false">Commentaires</th>
    </tr>
  </thead>
  <tbody>
    {% for rr in rrs %}
    <tr>
      <td data-text="{{ rr.evenement.rc.nom_court }}"
	  class="td {% if rr.reparations %}adopte{% endif %}">
	<b>{{ rr.evenement.rc.nom_court }}</b><br/>
	{% if rr.reparations %}
	Prise en charge par
	<b>
	  {% for d in rr.reparations %}
	  {{ d.benevole.user.username }}
	  {% endfor %}
	</b>
	{% else %}
	<button style="margin-top: 5px;" onclick="adopte('{{ rr.reparable.ticket }}')">
	  Je m'en occupe
	</button>
	{% endif %}
      </td>
      <td data-text="{{ rr.evenement.debut | date:'Y-m-d H:i' }}">
	{{ rr.evenement.debut | date:'d-m-Y' }} à
	{{ rr.evenement.debut | date:'H:i' }}<br/>
	<ul class="petit">
	  {% for conf in rr.confirmations %}
	  <li>
	  Confirmée le {{ conf.confirme_le | date:'d-m-Y'}}
	  par "{{ conf.secretaire.user.username }}"
	  </li>
	  {% endfor %}
	</ul>
      </td>
      <td>
	<dl>
	  <dt>Désignation :</dt>
	  <dd>{{ rr.reparable.nom }}</dd>
	</dl>
	<img src="/media/{{ rr.reparable.photo }}"
	     alt="photo de l'objet"
	     style="max-width: 50px; max-height: 50px; cursor: 'pointer';" />
      </td>
      <td>
	<dl>
	  {% if rr.reparations %}
	  <dt>Réparateur</dt>
	  {% for d in rr.reparations %}
	  <dd>
	    {{ d.commentaire }}
	  </dd>
	  {% endfor %}
	  {% endif %}
	  {% if rr.reparable.panne %}
	  <dt>Demandeur</dt>
	  <dd>
	    {{ rr.reparable.panne }}
	  </dd>
	  {% endif %}
	  {% if rr.commentaire %}
	  <dt>Modérateur ({{ rr.secretaire.user.username }})</dt>
	  <dd>
	    {{ rr.commentaire }}
	  </dd>
	  {% endif %}
	</dl>
      </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<form id="adopte" method="post" style="display: none">
  {% csrf_token %}
  <input type="hidden" id="ticket" name="ticket" />
  <input type="hidden" id="name" name="name" value="{{ user.username }}"/>
  <table>
    {{ form.as_table }}
    <tr>
      <td colspan="2" style="text-align: center">
	<input type="submit"
	       value="J'adopte cette demande"/>
      </td>
    </tr>
  </table>
</form>

<script>
  $('body').on('click', '.modal-overlay', function () {
      $('.modal-overlay, .modal-img').remove();
  });

  function grande_image(src){
      $('body').append('<div class="modal-overlay" style="position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background: rgba(0,0,0,0.5);"><div class="modal-img"><img src="' + src + '" style="width: 80%; margin: 10%;" /><div style="position: fixed; top: 10px; right: 10px; width: 1em; color: white; background: grey; cursor: pointer;">X</div></div></div>');
  }
  
  $("table.adopter img").each(
      function(n, elt){
	  elt = $(elt);
	  elt.click( function(){
	      grande_image(elt.attr("src"));
	  });
      }
  );

  var table = $("table.adopter");
  table.tablesorter({
      theme : 'jui',
      headerTemplate : '{content} {icon}',
      widgets : ['uitheme', 'zebra'],
      widgetOptions : {
	  zebra   : ["even", "odd"],
      }
  });

  table.trigger('applyWidgets');

  /**
   * fonction de rappel pour les boutons "Je m'en charge"
   * @param ticket le numéro de ticket de l'objet à réparer
   **/
  function adopte(ticket){
      $("#ticket").val(ticket);
      $("#adopte").dialog({
	  title: "Adoption du ticket " + ticket,
	  width: 355,
	  height: 200,
      });
  }

  /**
   * Ote le filtre qui cache des lignes du tableau
   **/
  function sansfiltre(){
      $("table.adopter tr").show();
      $("#filtre").val("");
  }

  /**
   * Applique un filtre
   **/
  function filtrer(){
      var cle = $("#filtre").val().toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");
      $("table.adopter tr").each( function(n, tr){
	  tr=$(tr);
	  if(tr.find("td").length && tr.find("td").first().data('text').toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "").includes(cle)){
	      tr.show();
	  } else {
	      tr.hide();
	  }
      })
  }
  
  /**
   * déclenche le filtre qi on valide dans le champ de saisie
   **/
  function checkFilter(e) {
      if(e && e.keyCode == 13) filtrer();
  }
  
</script>
{% endblock %}
