{% extends 'gestion/base_minimale.html' %}
{% load static %}

{% block contents %}
<h1>Ticket ({{ rr.reparable.ticket }})</h1>
{% if confirmes %}
<h2>Déjà confirmé ...</h2>
<ul>
  {% for cf in confirmes %}
  <li>
    Par {{ cf.secretaire.user.first_name }} {{ cf.secretaire.user.last_name }},
    le {{ cf.confirme_le|date:'d/m/Y' }},
    ({{ cf.bref }})
  </li>
  {% endfor %}
</ul>
{% else %}
<h2>Pas encore confirmé</h2>
Il faut prendre contact ({{ rr.reparable.demandeur_nom }} {{ rr.reparable.demandeur_prenom }} est joignable par téléphone : {{ rr.reparable.numero_tel }}, par courriel : {{ rr.reparable.email }})
{% endif %}
{% if not confirmes %}
<form method="post" id="form">
  <input type="hidden" name="ticket" value="{{ rr.reparable.ticket }}"/>
  <h3>Champs gérés par le secrétariat</h3>
  <table>
    <tr>
      <td><label for="horaire">
	  Horaire de RDV du {{ rr.evenement.debut|date:'d-m-Y' }}
      </label></td>
      <td><input type="text" id="horaire" name="horaire"
		 value="{{ rr.evenement.debut|date:'H:i' }}"/></td>
    </tr>
  </table>
  <h3>Mon commentaire</h3>
  <textarea rows="3" cols="25"
	    placeholder="J'ai pris des notes, suite à l'appel ou à l'échange de courriel..."
	    name="comment" id="comment"></textarea>
  <br>
  <fieldset>
    <legend>gestion</legend>
    <div>
      <input type="radio" name="gestion" id="nochange" value="nochange"
	     checked="checked"/>
      <label for="nochange">Je confirme sans modification</label>
    </div>
    <div>
      <input type="radio" name="gestion" id="change" value="change"/>
      <label for="change">Il faut modifier quelque chose</label>
    </div>
</form>
{% else %}
<form method="post" id="form">
  <input type="hidden" name="ticket" value="{{ rr.reparable.ticket }}"/>
  <fieldset>
    <legend>Faut-il modifier quelque chose ?</legend>
    <div>
      <input type="radio" name="changement" id="nochange" value="nochange"
	     checked="checked"/>
      <label for="nochange">Non</label>
    </div>
    <div>
      <input type="radio" name="changement" id="change" value="change"/>
      <label for="change">Oui</label>
    </div>
</form>
{% endif %}
{% endblock %}
