{% extends 'gestion/base.html' %}
{% load static %}

{% block contents %}
<h1>Suite de la demande de réparation</h1>
{% if orep %}
{% if not ticket %}
<p class="info">
  Vous venez de décrire un objet à réparer, une fiche a été enregistrée dans
  les données des Repair-Cafés de Dunkerque. On peut facilement retrouver
  cette fiche par un « numéro de ticket » : {{ orep.ticket }}.
</p>
<p>
  Maintenant, cliquez sur un des boutons ci-dessous, pour prendre rendez-vous
  prochainement ...
</p>
<div id="choix_ville">
    {% for ville, data in evenements.items %}
    <h3 title="Cliquer pour déplier/replier">{{ ville }}</h3>
    <div>
    <p class="nom_rc">{{ data.rc.nom_court }}</p>
    {% for ev in data.ev %}
      <button data-ev="{{ ev.id }}" data-ticket="{{ orep.ticket }}"
	      onclick="choisit_evenement(this)"
	      class="mediumbutton"
	      title="{{ ev.debut | date:'l j F Y' }}, de {{ ev.debut | date:'H:i' }} à {{ ev.fin | date:'H:i' }} {% if secretaire %}| Cliquer pour supprimer{% endif %}">
	<img src="{% static '/img/rc.svg' %}"
	     alt="{{ ev.debut | date:'l j F Y' }}, de {{ ev.debut | date:'H:i' }} à {{ ev.fin | date:'H:i' }}"
	     />
	<br>
	{{ ev.debut | date:'D d/m' }}
      </button>
      {% endfor %}
      </div>
    {% endfor %}
</div>
<script>$("body").ready(function(){$("#choix_ville").accordion({
    active: false,
    collapsible: true,
})});</script>
{% endif %}
<table>
  {% if ticket %}
  <tr>
    <th>Le rendez-vous est pris...</th>
    <td>
      {% if not confirmes %}
      ... sous réserve de confirmation.
      {% else %}
      <span style="background: lightgreen;">
	... et confirmé.
      </span>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td colspan="2">Au Repair-Café « {{ ev.rc.nom_court }} »</td>
  </tr>
  <tr>
    <td colspan="2"><textarea cols="40" rows="4" disabled="disabled">{{ ev.rc.adresse }}</textarea></td>
  </tr>
  <tr>
    <th>Date</th>
    <td>le {{ ev.debut | date:'l j F Y' }}</td>
  </tr>
  <tr>
    <th>Rendez-vous :</th>
    <td>entre {{ ev.debut | date:'H:i' }} et {{ ev.fin | date:'H:i' }}</td>
  </tr>
  {% endif %}
  <tr>
    <th style="text-align: center; text-weight: bold; font-size: 140%;"
	colspan="2">
      <p>Récapitulatif du « ticket » </p>
      {% if confirmes %}
      <ul style="text-align: left; text-weight: normal;
		 font-size: normal; background: lightgreen;">
	{% for cf in confirmes %}
	<li>
	  Confirmé par {{ cf.secretaire.user.first_name }} {{ cf.secretaire.user.last_name }}, le {{ cf.confirme_le|date:'d/m/Y' }}
	</li>
	{% endfor %}
	<li>Le rendez-vous est fixé au {{ orep.horaire_rdv|date:'d/m/Y à H:i' }}.</li>
      </ul>
      {% else %}
      <div style="background: pink;">
	Pas encore confirmé par le réseau des repair-cafés
      </div>
      {% endif %}
    </th>
  </tr>
  <tr style="background:navy; color: lightyellow;"
      title="le numéro de ticket sert à retrouver une information quand on veut">
    <td>Notez bien ce numéro de ticket : </td>
    <td style="font-weight: bold; font-size: 120%;">
      {{ orep.ticket }}
    </td>
  </tr>
  <tr>
    <td>Ticket créé le :</td>
    <td>{{ orep.annonce_le | date:'l j F Y' }}</td>
  </tr>
  <tr>
    <td>Qui demande : </td>
    <td>{{ orep.demandeur_nom }} {{ orep.demandeur_prenom }}</td>
  </tr>
  <tr>
    <td>Peut être joint à :</td>
    <td>{{ orep.numero_tel }} {{ orep.email }}</td>
  </tr>
  <tr>
    <td>Désignation de l'objet à réparer :</td>
    <td>{{ orep.nom }}</td>
  </tr>
  <tr>
    <th colspan="2" style="text-align: center;">Description de la panne</th>
  </tr>
  <tr>
    <td colspan="2"><textarea cols="40" rows="3" disabled="disabled">{{ orep.panne }}</textarea></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center;">
      Photo de l'objet à réparer ({{ orep.poids }} kg environ)<br>
      <img src="{{ orep.photo.url }}" alt="Photo de l'objet à réparer" />
    </td>
  </tr>
</table>
{% endif %}
{% if ticket and not orep.ticket %}
<form method="post">
    {% csrf_token %}
  <table>
    {{ form.as_table }}
    <tr>
      <td colspan="2" style="text-align: center">
	<input type="submit"
	       value="Voir les données disponibles pour ce ticket"/>
      </td>
    </tr>
  </table>
</form>
{% endif %}

{% endblock %}
