{% extends 'gestion/base.html' %}
{% load static %}

{% block contents %}
<h1>Liste des tickets ouverts</h1>

<div class="info">
  <p>
    Les réservations (ou tickets) présentes ici sont filtrées en
    tenant compte des paramètres modifiables ci-dessus à droite, à
    l'aide des boutons sous la phrase <i>« Statut: secrétaire »</i>.
  </p>
  <p>
    Filtrage par {{ filtrage }} : {{ compte_rrs_filtres }}/{{ compte_rrs }}
    réservations affichables.
  </p>
</div>

<div class="accordion reserve_reparation" name="{{ rr.reparable.ticket }}">
  {% for rr in rrs_filtres %}
  <h2 class="h2 {% if rr.confirmations %}confirme{% endif %} {% if rr.reparations %}adopte{% endif %}">
    {{ rr.reparable.nom}} (réf. {{ rr.reparable.ticket }})
    {{ rr.reparable.demandeur_nom }} {{ rr.reparable.demandeur_prenom }} :
    <span{% if not rr.confirmations %} class="barre"{% endif %}>
      confirmé
    </span>
    :
    <span{% if not rr.reparations %} class="barre"{% endif %}>
      adopté
    </span>
    {% if is_secretaire %}
    <button data-ticket="{{ rr.reparable.ticket }}"
	    onclick="secretaire_pour_ticket(this)">
      Je gère
    </button>
    {% endif %}
  </h2>
  <div>
    <table class="force-wrap">
      <colgroup>
	<col span="1" style="width: 25%;">
	<col span="1" style="width: 25%;">
	<col span="1" style="width: 50%;">
      </colgroup>
      <tr>
	<td style="text-align: right;">Qui :</td>
	<td>{{ rr.reparable.demandeur_nom }} {{ rr.reparable.demandeur_prenom }}</td>
	<td rowspan="3">
	  <img src="{{ rr.reparable.photo.url }}" alt="photo"
	       style="height : 140px;"/>
	</td>
      </tr>
      <tr>
	<td style="text-align: right;">Quand :</td>
	<td class="date" data-date="{{ rr.evenement.debut|date:'d/m/Y' }}">
	  {{ rr.evenement.debut|date:"d/m/Y" }}
	  <br>
	  {% if rr.reparable.horaire_rdv %}
	  Rendez-vous précisé pour le {{ rr.reparable.horaire_rdv|date:"d/m/Y à H:M" }}
	  {% else %}
	  Rendez-vous ... à préciser
	  {% endif %}
	  <span style="font-size: 70%; color: #555">
	    <br>
	    Demandé le {{ rr.reparable.annonce_le|date:"d/m/Y" }}
	  </span>
	</td>
      </tr>
      <tr>
	<td style="text-align: right;">Où :</td>
	<td class="lieu" data-lieu="{{ rr.evenement.rc.nom_court }}">
	  {{ rr.evenement.rc.nom_court }}
	</td>
      </tr>
      <tr>
	<td style="text-align: right;">Objet :</td>
	<td>{{ rr.reparable.nom}}</td>
	<td rowspan="3">
	  <h3>Suivi de la demande de réparation</h3>
	  {% if is_secretaire %}
	  <button data-ticket="{{ rr.reparable.ticket }}"
		  onclick="secretaire_pour_ticket(this)">
	    Je gère la demande
	  </button>
	  {% endif %}
	  {% if rr.confirmations %}
	  <ul>
	    {% for cf in rr.confirmations %}
	    <li><b>Demande confirmée</b> le {{ cf.confirme_le|date:'d/m/Y' }} par {{ cf.secretaire.user.first_name }} {{ cf.secretaire.user.last_name }} ({{ cf.bref }})</li>
	    {% endfor %}
	  </ul>
	  {% else %}
	  <b>Le ticket n'est pas encore confirmé</b>
	  {% endif %}
	  {% if rr.reparations %}
	  <ul>
	    {% for rep in rr.reparations %}
	    <li><b>Réparation proposée</b> le {{ rep.propose_le|date:'d/m/Y' }} par {{ rep.benevole.user.first_name }} {{ rep.benevole.user.last_name }} ({{ rep.bref }})</li>
	    {% endfor %}
	  </ul>
	  {% else %}
	  <b>Pas encore de proposition de réparation</b>
	  {% endif %}
	</td>
      </tr>
      <tr>
	<td style="text-align: right;">Panne :</td>
	<td>{{ rr.reparable.panne }}</td>
      <tr>
	<td style="text-align: right;">Téléphone :</td>
	<td>{{ rr.reparable.numero_tel}}</td>
      </tr>
      <tr>
	<td style="text-align: right;">Courriel :</td>
	<td>{{ rr.reparable.email}}</td>
      </tr>
    </table>
    <div style="clear: both;"></div>
  </div>
{% endfor %}
</div>

<div id="dialog"></div> {% comment %}pour les dialogues JS {% endcomment %}

<script>
  $(".accordion").accordion({
      collapsible: true,
      active: false,
  });
</script>

{% endblock %}
