@media print
{    
    .no-print, .no-print * {
        display: none !important;
    }

    body {
	font-size: 70%;
    }
}

body {
    background: peachpuff;
}

span.mini{
    vertical-align: middle;
}

img.mini {
    height: 24px;
    vertical-align: middle;
}

div.page {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#contents {
    flex: 1 1 auto;
}

#page_header {
    flex: 0 1 auto;
}

#page_header h1, #page_header h2, #page_header h3 {
    text-align: center;
}

#page_footer {
    flex: 0 1 28px;
    background: rgb(255,240,230);
    border: 1px navy solid;
    border-radius: 5px;
    margin: 2px 0;
    padding: 1px 10px;
}

.fond-blanc {
    background: white;
    padding: 5px;
    border: 1px navy solid;
    border-radius: 5px;
    margin: 5px;
}

.actionbuttons img {
    width: 64px;
    margin: 4px;
    cursor: pointer;
}

.mediumbutton img {
    width: 36px;
    margin: 1px;
    cursor: pointer;
}

.minibutton img {
    width: 18px;
    margin: 1px;
    cursor: pointer;
}

.horaires_habituels ul {
    margin: 1px;
}

.lieu-nom {
    font-weight: bold;
    font-size: 120%;
    margin: 0 0 3px 0;
    padding: 0 0 3px 0;
    text-align: center;
}

.fond_sombre {
    color: white;
}

.ville {
    background: navy;
    color: lightgrey;
    font-weight: bold;
    font-size: 120%;
    margin: 0 0 3px 0;
    padding: 0 0 3px 0;
    text-align: center;
}

#choix_ville {
    max-width : 350px;
}

.petit {
    font-size: 70%;
}

p.version {
    text-align: center;
}

dl.choix dt {
    font-size: 18px;
    font-weight: 900;
    color: lightyellow;
    background: navy;
    text-align: center;
}

dl.choix li {
  list-style-type: none;
  padding: 2px 0;
  margin: 0;
}

a.button {
    width: 85%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background-color: #EEE;
    color: #333;
    padding: 2px 6px;
    border-top: 1px solid #CCC;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #CCC;
}

.vars{
    font-size: 70%;
    background: rgba(255,255,255,0.4);
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.4);
}

.vars button {
    font-size: 70%;
}

.info {
    font-size: 80%;
    padding: 5px;
    background: rgba(255, 240, 0, 0.4);
    color: navy;
    border: 1px solid rgba(0, 0, 100, 0.40);
    border-radius: 5px;
}

/* concerne la page tous_tickets */

.force-wrap td {
    overflow-wrap: anywhere;
}
.reserve_reparation {
    border: 2px orange solid;
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 10px 0;
    background: lightyellow;
}
.reserve_reparation h2 {
    color: navy;
    background: lightcoral;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.reserve_reparation h2.confirme{
    background: orange;
}

.reserve_reparation h2.adopte{
    background: lightgreen;
}



.hidden {
    display: none;
}

.barre {
    text-decoration: line-through;
}

/* pour la page /reparations_approuvees */

table.adopter td, table.adopter th {
    vertical-align: middle;
}

table.adopter td:first-child {
    background: orange;
}

table.adopter td:first-child.adopte {
    background: lightgreen;
}

table.adopter tr {
    border: 2px solid black;
}

